

body {
    padding: 0;
    margin: 0;
    background-color: rgb(15, 15, 15);
    /*background: linear-gradient(
    white 2%,
    black 3%,
    black 96%,
    white 98%
  );*/
}


.heading {
  padding-top: 6rem;
  padding-bottom: 10px;
  font-family: 'Garamond', serif;
  background-color: transparent;
  color:white;
  text-align: center;
  margin:0;

}

.heading span:hover, h3 span:hover{
  cursor:pointer;
}



h3{
  text-align: center;
  background-color: transparent;
  margin: 0;
  font-family: 'Garamond', serif;
  color: white;
}


#footer{
  /* background-color: transparent;*/
   background-color:#c0b9b9;
   color: #000;
   text-align: center;
   margin:1rem auto 0 auto;
   padding: 1rem 0 0 0 ; 
   box-shadow: 0px 10px 20px 6px rgb(67, 70, 70) inset;
 }
 

.navbar {
    padding-left: 1em;
    /*background-color: transparent;*/
    background-color :#c0b9b9;
    z-index: 1;
    margin-bottom: 0;
    box-shadow: 10px 10px 20px 6px rgb(133, 141, 144);

}
.nav-link, .navbar-brand {
    font-family: 'Garamond';
    font-size: 1.15em;
    color: #000;
    cursor: pointer;
}

.navbar-brand img{
  padding: 10px 0px 10px 20px;
}

.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: yellow;
}

.navbar-collapse {
    justify-content: flex-end;

}

a.nav-link.dropdown-toggle.show{
  color:white;
}

.dropdown-menu.show{
  background-color: #a9a5a5;
}

a.dropdown-item{
  color:#000;
}

a.dropdown-item:hover{
  background-color: #000;
  color:yellow;
}

video{
  
  width: 100%;
  height: 70%;
  cursor: pointer;
  align-self: center;
  display: block;
  margin: 3em auto 0 auto;
}


.col-sm-6 img, .col-sm-12 img{
  margin: auto;
  display: block;
  padding: 0;
  text-align: center;
}



.col-sm-6 img:hover{
  cursor: pointer;
}



.col-sm-12 img:hover{
  cursor: pointer;
}

.col-sm-1, .col-sm-10, .col-sm-2, .col-sm-8{
  background-color: transparent;
  color: white;
  text-align: justify;
  margin:0;
}

.row{
  margin: 0;
  padding: 0;
}


/*lightbox palios naos*/
#lightbox_palios{
  display: none;
  margin: auto;
}

#lb_palios{
  background-color: transparent;
  text-align: center;
  margin:auto;
}


/*lightbox neos naos photo & video*/
#lightbox_neos{
  display: none;
  margin: auto;
}

#lb_neos{
  background-color: transparent;
  text-align: center;
  margin:auto;
}

#lightbox_neos_vid{
  display: none;
  margin: auto;
}

#lb_neos_vid{
  background-color: transparent;
  text-align: center;
  margin:auto;
}

/*lightbox vios agiou*/
#lightbox_vios{
  display: none;
  margin: auto;
}

#lb_vios{
  background-color: transparent;
  text-align: center;
  margin:auto;
}


.lightbox-caption{
  
  background-color: #000;
}


a img {
  padding: 1em;
}

.img-fluid{
height: 26vh;
width: 26vh;
}

.img-fluid-video{
  height: 20vh;
  width: 32vh;
  }

a.col-sm-4{
  color:#000;
}

.navbar.navbar-expand-sm.fixed-top{
  padding: 0;
}


.container-fluid{
  padding-top: -10px;
  padding-top: -10px;

}

#contact{
  display: none;
}

#toggle_contact:hover{
  cursor: pointer;
  color: blue;
}

a {
  color: black;
  text-decoration: none;
}


/*responsive iframe*/

.container-iframe {
  position: relative;
  overflow: hidden;
  width: 60%;
  padding-top: 33%; /* Aspect Ratio 3/4*/
  display: block;
  margin: auto;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.far.fa-image, .fa-regular{
  font-size: 80px;
}
.underline{
  text-decoration: underline;
}

ul{
  line-height: 180%;
}

/*lightbox activities photo & video*/
#lightbox_activities{
  display: none;
  margin: auto;
}

#lb_activities{
  background-color: transparent;
  text-align: center;
  margin:auto;
}

#lightbox_activities_vid{
  display: none;
  margin: auto;
}

#lb_activities_vid{
  background-color: transparent;
  text-align: center;
  margin:auto;
}

/*lightbox archin photo & video*/
#lightbox_archin{
  display: none;
  margin: auto;
}

#lb_archin{
  background-color: transparent;
  text-align: center;
  margin:auto;
}

#lightbox_archin_vid{
  display: none;
  margin: auto;
}

#lb_archin_vid{
  background-color: transparent;
  text-align: center;
  margin:auto;
}

/*lightbox archout photo & video*/
#lightbox_archout{
  display: none;
  margin: auto;
}

#lb_archout{
  background-color: transparent;
  text-align: center;
  margin:auto;
}

#lightbox_archout_vid{
  display: none;
  margin: auto;
}

#lb_archout_vid{
  background-color: transparent;
  text-align: center;
  margin:auto;
}


